version: "3.9"

services:
  jenkins-irwan:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins-irwan
    restart: unless-stopped
    volumes:
      - jenkins_home:/var/jenkins_home
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - jenkins-net

volumes:
  jenkins_home:

networks:
  jenkins-net:
    driver: bridge
